@page "{id}"
@model DotNetMongoDB.Pages.Books.EditModel
@{
}
<div class="container">

    <form method="post">
        <input hidden asp-for="Book.Id" />

        <input class="form-control" asp-for="Book.Year" placeholder="Year" />
        <br />
        <input class="form-control" asp-for="Book.Name" placeholder="Name" />
        <br />
        <textarea class="form-control" asp-for="Book.Description" placeholder="Description"></textarea>
        <button class="btn btn-success">Submit</button>
        <a class="btn btn-sm btn-danger" href="/Books/index">Back To List</a>
    </form>

</div>
