@page
@model DotNetMongoDB.Pages.Books.IndexModel
@{
}

<table class="table">

    <a href="/Books/Create" class="btn btn-success">Add Book</a>
    <br />
    <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">CreateDate</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody id="dataModel">
        @*@foreach (var item in Model)
        {
            <tr>
                <td>@item.Year</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.CreateDate</td>
                <td>
                    <a href="/Books/Edit/@item.Id" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        }*@

    </tbody>
</table>